body {
  font-family: Roboto, Helvetica, sans-serif;
  max-width: 600px;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin: 1em;
}

#scroller {
  flex: 1;
  margin: 10px 0;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

contact-element {
  height: 80px;
  display: block;
}
